*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: #213547;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #646cff;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  color: #FFEAD2;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  color: #213547;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: #8294C4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ACB1D6;
  border-color: #000;
  transition: 1s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
