.figuraRules{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.figuraImg{
    /* width: 450px;
    height: 350px; */
    margin-top: 30px;
    /* margin-bottom: 20px; */
}

.figuraCaption{
    margin-bottom: 30px;
}