.contGameOver{
    display: flex;
    background-color: #333;
    /*width: 82.2rem;*/
    width: auto;
    height: 30.3rem;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
}

.msgGameOver{
    font-size: large;
    color: #fff;
    
}

.linkRules{
    color: #fff;
    font-size: large;
    font-weight: 900;
}

