.container_qt {
    display: flex;
    /*background-color: #FFEAD2;*/
    background-color: #333;
    width: 96.4%;
    height: 38rem;
    /*margin-bottom: 7.1rem;*/
    /*margin-top: 3rem;*/
    text-align: center;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid;*/
    /*border-radius: 8px;*/
    position: relative;
    flex-flow: column wrap;
    align-items: center;
}

.container_vida{
    display: flex;
    width: 30rem;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    
}

.countHearts{
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 33px;
    padding-left: 25rem;
    color: #FFF;
}

.score{
    font-size: 30px;
    color: #FFF;
}

.pq {
    /*color: #213547;*/
    color: #FFF;
    font-size: 25px;
    font-weight: 300;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btnA{
    color: #213547;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    /*font-size: 1em;*/
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    background-color: #8294C4;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 5px;
}

.btnA:hover {
    background-color: #ACB1D6;
    border-color: #000;
    transition: 1s;
}

.btnArrow{
    color: #213547;
    height: 3rem;
    width: 4rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    background-color: #8294C4;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 5px;
}

.container_btn{
    display: flex;
    justify-content: center;
}

.combo{
    padding-left: 25rem;
}

.time{
    font-size: 30px;
    color: #FFF;
}