.containerResult{
    display: flex;
    background-color: #FFEAD2;
    max-width: 40rem;
    height: auto;
    text-align: center;
    padding: 1.5rem;
    /* margin-left: auto;
    margin-right: auto; */
    border: 1px solid;
    border-radius: 8px;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
    margin: 2rem auto 3rem auto;
}

.score{
    font-size: 50px;
    /*color: #213547;*/
    color: #5364FF;
    font-weight: bold;
}

.btnRestart{
    width: 5rem;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: #FFF;
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgb(0, 150, 0) 20%, rgb(0, 255, 0) 80%);
}

.btnRestart:hover{
    background-color: #d3d3d3;
    transition: background-color 0.5s ease;
}

/*table, tr, td{
    border: 1px solid black;
}*/

.tableRes{
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px;
}

tr{
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
}

th{
    color: #213547;
    padding: 10px;
}

td{
    padding-top: 2px;
    padding-bottom: 2px;
}

.containerOpt{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: auto;
    /*max-width: 100%;*/
    width: 30rem;
    height: 3rem;
    background-color: #333;
}

.acertos{
    color: #5364FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.contItens{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}

.conq{
    display: flex;
    flex-flow: row wrap;
}

.time{
    color: #5364FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 1rem;
}