.containerResult{
    display: flex;
    background-color: #FFEAD2;
    width: 30rem;
    height: 30rem;
    text-align: center;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 8px;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
}

.score{
    font-size: 50px;
    color: #213547;
    font-weight: bold;
}

table, tr, td{
    border: 1px solid black;
}

.tableRes{
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px;
}

tr{
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
}

th{
    padding: 10px;
}

td{
    padding-top: 2px;
    padding-bottom: 2px;
}
