.paragrafoTexto {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: #29212a;
    font-weight: 300;
    font-size: 17px;
    text-indent: 30px;
}

.listComponents{
    padding-top: 50px;
    text-align: justify;
}

.listTelajogo{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}