.paragrafoTexto {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: #29212a;
    font-weight: 300;
    font-size: 17px;
    text-indent: 30px;
}

.listComponents{
    padding-top: 50px;
    text-align: justify;
}

.listTelajogo{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.containerTopicos{
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    background-color: #2c3869;
    margin-bottom: 30px;
    padding: 10px;
}

.liTopico{
    margin-bottom: 5px;
}

.ulTopico{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding: 30px;
    color: #f1f3f6;
}